<h3>Adding user</h3>

<form action="" class="nice-form with-submit" method="post" autocomplete="off">
    <label>
        <span>Name of new user</span>
        <input type="text" placeholder="User name" name="userName" required autocomplete="off" autocapitalize="none">
    </label>

    <label>
        <span>Initial password</span>
        <input type="password" placeholder="Initial password" name="password" required autocomplete="off">
    </label>

    <label>
        <span>Retype password</span>
        <input type="password" placeholder="Retype password" name="password2" required autocomplete="off">
    </label>

    <label><span></span><input type="submit" value="Create" class="nice-btn"></label>
</form>
