<h3>Changing password</h3>
<form action="" method="post" class="nice-form with-submit" autocomplete="off">
    {{#if isSelf}}
    <label>
        <span>Your current password</span>
        <input type="password" name="currentPassword" placeholder="your current password" autocomplete="off" required>
    </label>
    {{/if}}

    <label>
        <span>New password:</span>
        <input type="password" name="newPassword" placeholder="new password" autocomplete="new-password" required>
    </label>

    <label>
        <span>Retype new password:</span>
        <input type="password" name="newPassword2" placeholder="again new password" autocomplete="off" required>
    </label>
    <hr>
    <label>
        <span></span>
        <input class="nice-btn" type="submit" value="Change password">
    </label>
</form>
