<p class="error-message">
    <span class="emoji">😯</span>
    File has been successfully uploaded
    <br>
    {{#if filename}}
    <small>{{filename}} {{#if size}}({{size size}}){{/if}}</small>
    {{/if}}
    {{#unless fileId}}
    <small>Owner of used token has access to this file</small>
    {{/unless}}
    <br>
    <br>
    {{#if fileId}}
    <a href="/files/{{fileId}}" class="nice-btn">Open it</a>
    <a href="/files" class="nice-btn">View all files</a>
    {{/if}}
</p>