<form class="nice-form with-submit" action="/login" method="post">
    <p class="title">Please give me ur credentials to continue</p>
    <label>
        <span>Your username:</span>
        <input type="text" placeholder="Username" name="login" required>
    </label>
    <label>
        <span>Your password:</span>
        <input type="password" placeholder="Password" name="password" required>
    </label>
    <hr>
    <a href="/token/upload" class="nice-btn">Use token</a>
    <input type="submit" value="Sign in!" class="nice-btn">
</form>