<script>
    let remainTime = +parseFloat('{{ expireAfter }}');
    setInterval(() => {
        if (remainTime <= 1)
            location.reload();
        document.getElementById('timer').innerText = (--remainTime).toString();
    }, 1000);
</script>

<div class="token-layout">
    <p class="title">It's your upload code:</p>
    <p class="code">{{code}}</p>
    <p class="info">It'll expire when used or in <span id="timer">{{ expireAfter }}</span> seconds</p>

    <div class="nice-form">
        <label>
            <span>Link to upload:</span>
            <input id="share-link" onclick="setSelectionRange(0, value.length)" type="text" readonly
                   value="/token/upload#{{code}}">
        </label>
    </div>

    <div class="btn-bar">
        <a href="" class="nice-btn">Refresh</a>
        <a href="renew" class="nice-btn">Renew token</a>
        <a href="extend" class="nice-btn">Extend token duration</a>
    </div>
</div>
<script>
    const input = document.getElementById('share-link');
    if (input && input.value.startsWith('/')) input.value = window.location.origin + input.value;
</script>
