:root {
    --BACKGROUND-COLOR: #fff;
    --TEXT-COLOR-PRIMARY: #000;
    --TEXT-COLOR-DISABLED: #444;
    --BACKGROUND-COLOR-SECONDARY: #f7f7f7;
    background: #ddd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --BACKGROUND-COLOR: #2a2a2a;
        --TEXT-COLOR-PRIMARY: #eee;
        --TEXT-COLOR-DISABLED: #ccc;
        --INPUT-BACKGROUND: #444;
        --BACKGROUND-COLOR-SECONDARY: #555;
        --ICON-FILTER: invert(0.8);
        background: #000;
    }
}


@font-face {
    font-family: "CustomFont";
    font-display: fallback;
    src: url("/font.ttf");
}

body {
    box-sizing: border-box;
    background: var(--BACKGROUND-COLOR);
    color: var(--TEXT-COLOR-PRIMARY);
    width: 1000px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    max-width: 96vw;
    margin: 0 auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

body,
input,
select {
    font-family: 'CustomFont', 'Open Sans', sans-serif;
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
    color: white;
    font-size: 1.4em;
    text-align: center;
    padding: 8px;
    background: #673AB7;
}

header > a {
    color: white;
    text-decoration: none;
}

main {
    padding: 4px;
}

.emoji {
    font-weight: 400;
    font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol, serif;
}

.error-message {
    text-align: center;
    padding-bottom: 16px;
}

.error-message > .emoji {
    font-size: 5em;
    margin: 8px 16px;
    display: block;
}

a,
input,
select {
    -webkit-tap-highlight-color: transparent !important;
}

input, select {
    color: var(--TEXT-COLOR-PRIMARY);
    background: var(--INPUT-BACKGROUND);
}

input[readonly],
select[readonly] {
    color: var(--TEXT-COLOR-DISABLED);
}

input[type="number"].token::-webkit-outer-spin-button,
input[type="number"].token::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"].token {
    text-align: center;
}

.btn-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-bar > .nice-btn > * {
    fill: white;
    vertical-align: text-top;
}

.nice-btn {
    text-align: center;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    text-decoration: none;
    margin: 8px;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 1.2em;
    color: white;
    background-color: #673AB7;
    transition: background-color .3s;
    cursor: pointer;
}

.nice-btn:enabled:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    background-color: #572AA7;
}

.nice-btn:disabled {
    filter: brightness(0.5);
}


.nice-form {
    position: relative;
    padding: 8px;
}

.nice-form label {
    margin: 4px;
    padding: 4px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.nice-form label.single-cell {
    grid-template-columns: 1fr;
}

@media (max-width: 600px) {
    .nice-form label {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

.nice-form p.title {
    margin: 8px;
    font-size: 1.1em;
    text-align: center;
}

.nice-form input[type=submit] {
    float: right;
}

.nice-form.with-submit::after {
    content: "";
    display: table;
    clear: both;
}


.upload-overlay {
    font-size: 1.2em;
    text-align: center;
    color: white;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(103, 58, 183, .8);
    transition: opacity .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upload-overlay > * {
    margin: 4px;
}

.upload-overlay > .progress {
    margin: 0;
    font-size: 3em;
}

input[type=text],
input[type=password],
input[type="number"],
select {
    font-size: 1em;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .4);
}

div.files-list {
    border: 1px solid #aaa;
    border-radius: 4px;
}

div.files-list > * {
    display: grid;
    margin: 0;
    padding: 4px;
    border-bottom: 1px solid #ccc;
    grid-template-areas: 'name . size icons';
    grid-template-columns: 1fr 10px auto auto;
    align-items: center;
    transition: background-color .3s;
}

@media (max-width: 400px) {
    div.files-list > * {
        grid-template-columns: 1fr auto;
        grid-template-areas: 'name name' 'size icons';
    }

}

div.files-list > *:hover {
    background-color: var(--BACKGROUND-COLOR-SECONDARY);
}

div.files-list > *:last-child {
    border-bottom: none;
}

div.files-list > * .name {
    overflow: hidden;
    color: var(--TEXT-COLOR-PRIMARY);
    text-decoration: none;
    grid-area: name;
}

div.files-list > * .size {
    text-align: right;
    margin: 4px;
    font-size: .9em;
    opacity: .8;
    grid-area: size;
}

div.files-list > * .icons {
    display: flex;
    grid-area: icons;
}

div.files-list > * .icons > a > img {
    filter: var(--ICON-FILTER);
    width: 24px;
    height: 24px;
    vertical-align: middle;
    border-radius: 4px;
    padding: 4px;
    transition: background-color .3s;
}

div.files-list > * .icons > a > img:hover {
    background-color: #ddd;
}

iframe.file-preview {
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    min-height: 500px;
}

.token-layout {
    text-align: center;
    flex-direction: column;
}

.token-layout .code {
    display: inline-block;
    font-size: 3em;
    border-radius: 8px;
    margin: 2px;
    padding: 4px 8px;
    border: 1px solid gray;
}
